.navbar-container{
    padding: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
.nav ul li{
    list-style: none;
}
.nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: 650;
}
.nav ul li a:hover{
    color: rgba(0, 0, 0, 0.596);
    transition: 0.2s;
    
}
.cart-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    font-size: 2rem;
}